<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link rel="stylesheet" 
    href="static/css/leaflet-1.3.1.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
  <link rel="stylesheet" 
    href="static/css/leaflet.timedimension.control-1.1.0.min.css" 
    integrity="sha512-XYq3haZyzXMyIeexNlcqH1RNTMdoOhgXnzKi29fGpTy0fgzlYVyy/x+cfkkPQSDY7LQG6mRAQAvcv3iC0IYxiA=="
    crossorigin=""/>
  <link rel="stylesheet" 
    href="static/css/leaflet-html-legend-0.3.4.css" 
    integrity="sha512-qfcZaBG4c15buuUH0ewfe/2h1BVd4txcrhiJJxgJ5EXGP822ibCqpTsJFQyyQp4SEPgQ/Rpj+pLALRJXXVrH6w=="
    crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="static/js/leaflet-1.3.1.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
  <script
    src="static/js/jquery-1.12.4.js"
    integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous"></script>

  <script
    src="static/js/iso8601-js-period-0.2.1.min.js"
    integrity="sha512-H9EnpWO2b9EDf/ViaCEoxOZRB6AcYaeLIqg8O5R0vIu4MfqUhb7sL/8kFh9jnzZ5vixgd21PF9TWppxU1hSeeQ=="
    crossorigin="anonymous"></script>
  <script
    src="static/js/leaflet.timedimension-1.1.0.min.js"
    integrity="sha512-NDftc6C1NxjJ6WhbWV4/RIJHN8DLylJUWhBKJC8bHROOoTqCvfh9GRuplnTgiBIDWHudOreTmFWT4FlCDn5Gag=="
    crossorigin="anonymous"></script>
  <script
    src="static/js/leaflet-html-legend-0.3.4.js"
    integrity="sha512-FLz9Z0kdR5I6tKaWty9NTrMZHDONCIrHA2mkGjsyg6rZgIHnPqQu7ahpC/KtOWPj7Xl2wdaDC9ngOWSk9/qv7Q=="
    crossorigin="anonymous"></script>
</head>
<body>
  <div id="mapid"></div>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    #mapid {
      height: 100%;
    }
  </style>
  <script>
      /* patch for leaflet time dimension bug, see https://github.com/socib/Leaflet.TimeDimension/issues/139 */
      let parseTimeDimensionFromCapabilitiesFix =  function(xml) {
        var layers = xml.querySelectorAll('Layer');

        var layerName = this._baseLayer.wmsParams.layers;
        var layer = null, times = null;
        layers.forEach(function(current) {
            if (current.querySelector("Name").innerHTML === layerName) 
                layer = current;
        })
        if (layer) {
            times = this._getTimesFromLayerCapabilities(layer);
            if (!times)
                times = this._getTimesFromLayerCapabilities(layer.parentNode);
        }
        return times;
      }

      let mymap = L.map('mapid', {
          center: [0, 0],
          zoom: 2,
          crs: L.CRS.EPSG4326,
          timeDimension: true,
          timeDimensionControl: true,
      });
      let background = L.tileLayer.wms('/wms?', {
          layers: 'background',
          format: 'image/png',
          transparent: 'TRUE',
          attribution: '',
          version: '1.3.0'
      }).addTo(mymap);

      fetch('/wms?request=GetCapabilities&service=WMS&version=1.3.0').then(function(response) {
          return response.text();
      }).then(function(text) {
          let layers = {}
          let legends = {}
          let $xml = $($.parseXML(text));
          $xml.find('Layer').each(function() {
              let name = $(this).find('> Name').text();
              let title = $(this).find('> Title').text();
              let legendurl = $(this).find("> Style > LegendUrl > OnlineResource").attr("xlink:href");
              if (name == "background" || name == "")
                  return;

              let wmslayer = L.tileLayer.wms("/wms", {
                  layers: name,
                  format: 'image/png',
                  transparent: true,
                  version: "1.3.0",
              });
              layers[title] = L.timeDimension.layer.wms(wmslayer, {
                  updateTimeDimension: true,
                  updateTimeDimensionMode: "union",
                  requestTimeFromCapabilities: true,
              });
              // fix the time dimesion parsing
              layers[title]._parseTimeDimensionFromCapabilities = parseTimeDimensionFromCapabilitiesFix;


              let legendControl = L.control({
                  position: 'bottomright'
              });
              if (legendurl) {
                legendControl.onAdd = function(map) {
                    var div = L.DomUtil.create('div', 'info legend');
                    div.innerHTML += '<img src="' + legendurl + '"/>';
                    return div;
                };
              }
              legends[title] = legendControl;
          });
          let baseMaps = {
              "background": background,
          };
          L.control.layers(baseMaps, layers).addTo(mymap);
          mymap.on('overlayadd', function(eventLayer) {
              legends[eventLayer.name].addTo(this);
          });
          mymap.on('overlayremove', function(eventLayer) {
              this.removeControl(legends[eventLayer.name]);
          });
      });

      let legend = L.control({
          position: 'bottomright'
      });
      mymap.on('overlayadd', function(e) {
          var div = L.DomUtil.create('div', 'info legend');
      });
  </script>
</body>
</html>
